@model List<Post>

<div class="card mb-3 shadow">
    <div class="card-header bg-dark bg-gradient text-white">
        <h6 class="card-title mb-0">New Posts</h6>
    </div>
    <div class="card-body">
        @foreach(var post in Model)
        {
            <div class="mb-3">
                <a href="/posts/details/@post.Url">
                    <h6 class="mb-0 text-dark">@post.Title</h6>
                </a>
            </div>
        }
    </div>
</div>